.container {
    margin-top: 150px;
    margin-left: 350px;
    position: static;
}

form a {
    text-decoration: none;
    color: black;
}

form {
    width: 733px;
    height: 571px;
    top: 264px;
    left: 295px;
    padding: 50px 0px 0px 350px;
    margin-top: 125px;
    align-items: top;
}

form input {
    /* float: right; */
  
    /* margin-left: auto;
    margin-right: 0px; */
    /* position: relative; */
    padding: 10px;
    margin: 1px;
    display: flex;
    justify-content: flex-end;
  }